/* stylesheet */
:root {
    --dark: #011627;
    --secondary: #FFB100;
    --primary: #54F2F2;
    --tertiary: #313D5A;
    --text: #fdfffc;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    line-height: 2.5;
    padding: 0;
    margin: 0;
    font-size: 21px;
    color: var(--text);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    /* display: flex; */

    justify-content: space-between;
    padding: 20px;
    
}

.high-scores {
    cursor: pointer;
    padding: 1rem;
    color: var(--dark);
}

#start-slide {
    padding: 20px;
    margin: 20px;
    flex-direction: column; 
}

.btn {
    background-color: var(--primary);
    color: var(--dark);
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    padding: 20px 35px;
    margin: 15px;
}

.btn:hover {
    background-color: var(--secondary);
}

.btn-grid {
    display: grid;
    gap: 10px;
}

.hide {
    display: none;
}


